@font-face {
    font-family: 'font9ff1710baadf935e7d7bc7c459fcabfe';
        src:    url('https://nomail.com.ua/files/eot/9ff1710baadf935e7d7bc7c459fcabfe.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/9ff1710baadf935e7d7bc7c459fcabfe.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/9ff1710baadf935e7d7bc7c459fcabfe.woff2') format('woff2');

    font-family: 'font12108809f49c49bcdc126dcecc938761';    
        src:    url('https://nomail.com.ua/files/eot/12108809f49c49bcdc126dcecc938761.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/12108809f49c49bcdc126dcecc938761.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/12108809f49c49bcdc126dcecc938761.woff2') format('woff2');

    font-family: 'fontc9f309b3d47969ecac64a77a6c672594';    
        src:    url('https://nomail.com.ua/files/eot/c9f309b3d47969ecac64a77a6c672594.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/c9f309b3d47969ecac64a77a6c672594.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/c9f309b3d47969ecac64a77a6c672594.woff2') format('woff2');
        }
        
@font-face { font-family: 'NexaBold';  src: local('NexaBold'), url('https://nomail.com.ua/files/woff/c9f309b3d47969ecac64a77a6c672594.woff') format('woff'); }
@font-face { font-family: 'NexaLight';  src: local('NexaLight'), url('https://nomail.com.ua/files/woff/12108809f49c49bcdc126dcecc938761.woff') format('woff'); }
@font-face { font-family: 'Lato-Black';  src: local('Lato-Black'), url('https://nomail.com.ua/files/woff/9ff1710baadf935e7d7bc7c459fcabfe.woff') format('woff'); }

.profile { 
    width: 1230px;
    display: block;
    margin: 0 auto;
}
.section_p {
    margin-top: 50px;
    font-family: 'NexaLight';
    font-size: 32px;
}
.section_img {
    size: 100%;
}
.main_section_list {
    margin-top: 114px;
    margin-left: 234px;
}
.profile_main {
    background-image: url('../ASSETS/Layer_0_bg.png');
    padding: 50px;
}
.h_fonts {
     font-family: 'Lato-Black';
}
.h_blue {
    color: #4a78b4
}
.h3_size {
    font-size: 48px;
}
.h3_margin {
    margin-bottom: 40px;
}
.main_article_h1 {
    color: #433b37;
    font-size: 146px;
    margin-bottom: 40px;
}
.main_article_h2 {
    margin-top: 120px;
    font-size: 72px;
}
.section_work_experience_list_item_name_work {
    font-family: 'NexaBold';
    font-size: 24px;
    color: #414242;
}
.list_item_img::before {
    content: url(../ASSETS/check_icon.png);
}